
<ul class="expense">
  <% for(var i=0; i!=MainShit.length; i++) { %>
    <li>
      <span class="remarks"><%= MainShit[i]['remarks']%></span>
      <span class="amount"><%= MainShit[i]['amount']%></span>
      <span class="date">
        <% var d = new Date(MainShit[i]['date']);%>
        <%= d.getDate() %>/<%= d.getMonth()+1 %>/<%= d.getFullYear() %>
      </span>
    </li>
  <% } %>
  </ul>
